/*neon blue palette
    #211951 - background
    #836FFF - inner-bg / highlight1
    #15F5BA - highlight2
    #F0F3FF - text

*/
/*neon red/orang palette
    #1D2B53 - background
    #7E2553 - inner-bg / highlight1
    #FF004D - highlight2
    #FAEF5D - text
*/
/*coffee palette
    --background: #ece0d1;
    --inner-background: #dbc1ac;
    --highlight: #967259;
    --text: #38220f;

*/

html, body {
    --background: #ece0d1;
    --inner-background: #dbc1ac;
    --highlight: #967259;
    --text: #38220f;
    font-family: Nunito, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

#preloader {
    background: var(--background) url(./assets/coffeeLoadTransparent.gif);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 3px solid var(--inner-background);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: 40%;
    height: 100vh; 
    width: 100vw;
    position: fixed;
    position: top;
    overflow: hidden;
    box-shadow: 0 0 10px var(--text);
    
    z-index: 1;
}
.loaded {
    animation: collapse .5s;
}

@keyframes collapse {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 100%;
    }
}

.submenu-navbar h2 {
    font-size: 2em;
    cursor: pointer;
}
.submenu-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.2em;
    align-items: center;
}
.submenu-navbar li {
    border-bottom: 2px solid var(--highlight);
    border-radius: 1%;
    font-size: 1.3em;
    padding: 0 2%;
    transition: .3s;
    cursor: pointer;
}
.submenu-navbar li:hover {
    border-bottom: 2px solid var(--inner-background);
}

/* FIXME: add aesthetics */
.blurred-bg {

}
.display {
    margin-top: 3vh;
    padding-bottom: 1%;
}
.innerWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.7em;
    margin: 2% 4%;
    
}
.innerWrap p {
    padding-top: 1%;
}
.innerWrap h3 {
    color: var(--highlight);
}
.innerWrap span {
    display: inline-block;
    background-color: var(--text);
    color: var(--background);
    border-radius: 3px;
    padding: 1%;
}
.innerWrap img {
    width: 300px;
    border-radius: 5px;
    margin: 0 5%;
    box-shadow: 5px 5px 5px 2px var(--text);
    transition: .3s;
}
.innerWrap img:hover {
    box-shadow: 12px 12px 10px -2px var(--text);
    width: 310px;
}


.about-section h1 {
    text-align: center;
    font-size: 3.5em;
    margin-top: 10%;
    margin-bottom: 5%;
}
.past-present-section h2 {
    font-size: 3em;
    font-weight: normal;
    color: var(--highlight);
}
.past-present-section {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}
.past-present-section div {
    margin: 0 5%;
}
.past-present-section p {
    font-size: 1.5em;
}
.future-section h2 {
    font-size: 3em;
    font-weight: normal;
    color: var(--highlight);
}
.future-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3% 30%;
}
.future-section p {
    font-size: 1.5em;
}

.skills-section h1 {
    margin-top: 10%;
    margin-bottom: 3%;

    text-align: center;
    font-size: 3em;
}
.skills-section h2 {
    font-size: 2.2em;
    font-weight: normal;
    color: var(--highlight);
}
.skills-section {  
    margin: 0 10%;
}

.front-end-skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.front-end-skills-list li {
    margin-right: 3%;
    background-color: var(--inner-background);
    padding: 1%;
    font-size: 1.3em;
    border-radius: 10px;

    transition: .3s;
}
.front-end-skills-list li:hover {
    transform: scale(1.1);
    cursor: default;
}

.miscellaneous-skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.miscellaneous-skills-list li {
    margin-right: 3%;
    background-color: var(--inner-background);
    padding: 1%;
    font-size: 1.3em;
    border-radius: 10px;

    transition: .3s;
}
.miscellaneous-skills-list li:hover {
    transform: scale(1.1);
    cursor: default;
}

.projects-section h1 {
    margin-top: 10%;
    margin-bottom: 3%;

    text-align: center;
    font-size: 3em;
}
.projects-list {
    display: flex;
    flex-direction: column;
}
.projects-list > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 10px var(--text);
    border-radius: 10px;
    margin: 3% 10%;
    padding: 3%;
}
.projects-list > div div {
    margin: 0 5%;
}
.projects-list > div img {
    width: 50%;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0 0 5px var(--text);
}
.projects-list > div img:hover {
    box-shadow: 0 0 10px 2px var(--text);
    cursor: pointer;
}
.projects-list > div h2 {
    font-size: 2.5em;
    color: var(--text);
    font-weight: normal;
}
.projects-list > div h3 {
    color: var(--highlight);
}
.projects-list > div p {
    font-size: 1.5em;
}

.contact-section h1 {
    padding-bottom: 10%;
    padding-top: 5%;
    text-align: center;
    font-size: 3em;
}
.contact-section {
    margin: 10% 30% 3% 30%;
    box-shadow: 0 0 10px var(--text);
    border-radius: 10px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}
.contact-form input, textarea {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 5%;
    border: 0px;
    padding: 2% 0;
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--highlight);
    transition: .3s;
    box-sizing: border-box;
    outline: 0px;
    font-family: inherit;
    box-shadow: 2px 2px 5px var(--highlight);
    border-radius: 10px;
}
.contact-form input[type=text] {
    padding-left: 3%;

}
.contact-form input:focus, textarea:focus {
    background-color: var(--inner-background);
}
.contact-form button {
    width: 30%;
    min-height: 35px;
    margin: 4% auto 12% auto;

    border-radius: 10px;
    font-weight: bold;

    box-shadow: 0 0 5px var(--highlight);
    border: 0;
    font-size: 1.2em;
    font-family: inherit;
    background-color: var(--background);
    color: var(--text);
    transition: .3s;
}
.contact-form button:hover {
    background-color: var(--inner-background);
    cursor: pointer;
}
.contact-form button:active {
    box-shadow: 0 0 8px var(--highlight);
}


.msg-field {
    padding-inline: 10px;
    height: auto;
    resize: none;
}



.footer {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--highlight);
    border-radius: 5px;
  }