/*coffee palette
    --background: #ece0d1;
    --inner-background: #dbc1ac;
    --highlight: #967259;
    --text: #38220f;

*/

:root {
    --background: #ece0d1;
    --inner-background: #dbc1ac;
    --highlight: #967259;
    --text: #38220f;
}
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: var(--text);
    background-color: var(--background);
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

#preloader {
    background: var(--background) url(./assets/coffeeLoadTransparent.gif);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 3px solid var(--inner-background);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: 40%;
    height: 100vh; 
    width: 100vw;
    position: fixed;
    position: top;
    overflow: hidden;
    box-shadow: 0 0 10px var(--text);

    z-index: 99;
}
.loaded {
    animation: collapse .5s;
}

@keyframes collapse {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 100%;
    }
}

/* can add blur/bg here
.bg-img {
    
}
.blur {
    
}
*/

.back-to-top {
    animation: rise .5s;
    width: 7%;
    font-family: inherit;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    padding: .5% 1%;
    outline: 0;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--inner-background);
    color: var(--highlight);
    bottom: 0;
    right: 0;
    position: fixed;

    transition: .3s;
}
.back-to-top:hover {
    background-color: var(--highlight);
    color: var(--text);
    
    transition: .3s;
}
.back-to-top:active {
    box-shadow: inset 0 0 100px var(--inner-background);
}
.fall {
    animation: fall .5s;
    width: 7%;
    font-family: inherit;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    padding: .5% 1%;
    outline: 0;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--inner-background);
    color: var(--highlight);
    bottom: 0;
    right: 0;
    position: fixed;
}

@keyframes rise {
    0% {
        bottom: -50%;
    }
    100% {
        bottom: 0;
    }

}
@keyframes fall {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -50%;
    }

}

.submenu-wrap {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: var(--background);
    box-shadow: 0 0 10px var(--highlight);
}
.submenu-navbar h2 {
    font-size: 2em;
    cursor: pointer;
}
.submenu-navbar {
    margin: 0 0 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.2em;
    align-items: center;
    padding-bottom: 1%;
    background-color: transparent;
}
.submenu-navbar li {
    border-bottom: 2px solid var(--highlight);
    border-radius: 1%;
    font-size: 1.3em;
    padding: .3% 2% .3% 2%;
    transition: .3s;
    cursor: pointer;
}
.submenu-navbar li:hover {
    border-bottom: 2px solid var(--inner-background);
}
.display {
    margin-top: 3vh;
    padding-bottom: 1%;
}
.innerWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.7em;
    margin: 2% 4%;
    
}
.innerWrap p {
    padding-top: 1%;
}
.innerWrap h3 {
    color: var(--highlight);
}
.innerWrap span {
    display: inline-block;
    background-color: var(--text);
    color: var(--background);
    border-radius: 3px;
    padding: 1%;
}
.innerWrap img {
    width: 300px;
    border-radius: 5px;
    margin: 0 5%;
    box-shadow: 5px 5px 5px 2px var(--text);
    transition: .3s;
}
.innerWrap img:hover {
    box-shadow: 12px 12px 10px -2px var(--text);
    width: 310px;
}
#current-projects, #about-section, #leave-a-message {
    transition: .5s;
}
#current-projects:hover, #about-section:hover, #leave-a-message:hover {
    background-color: var(--highlight);
    border-radius: 10px;
    text-shadow: 0 0 2px black;
    box-shadow: 3px 3px 3px var(--text);
    cursor: pointer;

    transition: .3s;
}
#current-projects:active, #about-section:active, #leave-a-message:active {
    box-shadow: inset 3px 3px 5px var(--text);
}

.about-section h1 {
    text-align: center;
    font-size: 3.5em;
    margin-top: 10%;
    margin-bottom: 5%;
}
.past-present-section h2 {
    font-size: 3em;
    font-weight: normal;
    color: var(--highlight);
}
.past-present-section {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}
.past-present-section div {
    margin: 0 5%;
}
.past-present-section p {
    font-size: 1.5em;
}
.future-section h2 {
    font-size: 3em;
    font-weight: normal;
    color: var(--highlight);
}
.future-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3% 30%;
}
.future-section p {
    font-size: 1.5em;
}

.skills-section h1 {
    margin-top: 10%;
    margin-bottom: 3%;

    text-align: center;
    font-size: 3em;
}
.skills-section h2 {
    font-size: 2.2em;
    font-weight: normal;
    color: var(--highlight);
}
.skills-section {  
    margin: 0 10%;
}

.front-end-skills-list, .miscellaneous-skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.front-end-skills-list li, .miscellaneous-skills-list li {
    background-color: var(--inner-background);
    padding: 1%;
    margin: 1% 1.5% 1% 0;
    font-size: 1.3em;
    border-radius: 10px;

    transition: .3s;
}
.front-end-skills-list li:hover, .miscellaneous-skills-list li:hover {
    transform: scale(1.1);
    cursor: default;
}

.projects-section h1 {
    margin-top: 8%;
    margin-bottom: 3%;

    text-align: center;
    font-size: 3em;
}
.projects-list {
    display: flex;
    flex-direction: column;
}
.projects-list > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 10px var(--text);
    border-radius: 10px;
    margin: 3% 10%;
    padding: 3%;
}
.projects-list > div div {
    margin: 0 5%;
}
.projects-list > div img {
    width: 50%;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0 0 5px var(--text);
}
.projects-list > div img:hover {
    box-shadow: 0 0 10px 2px var(--text);
    cursor: pointer;
}
.projects-list > div h2 {
    font-size: 2.5em;
    color: var(--text);
    font-weight: normal;
}
.projects-list > div h3 {
    color: var(--highlight);
}
.projects-list > div p {
    font-size: 1.5em;
}
.projects-list > div button {
    border: 0;
    outline: 0;
    padding: 3% 5%;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    margin: 2% 0;
    font-family: inherit;
    color: var(--text);
    font-weight: bold;
    background-color: var(--inner-background);
    box-shadow: 5px 5px 1px var(--highlight);
    transition: .3s;
}
.projects-list > div button:hover {
    background-color: var(--highlight);
    box-shadow: 8px 8px 1px var(--text);
    transform: scale(1.1);
    color: var(--background);
}
.projects-list > div button:active {
    background-color: var(--inner-background);
    box-shadow: 8px 8px 1px var(--highlight);
}

.contact-section h1 {
    text-align: center;
    font-size: 3em;
    margin: 5%;
}
.contact-section {
    margin: auto;
}
.contact-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.contact-items img {
    margin: 0 5% 10% 5%;
    width: 10%;
    filter: drop-shadow(0 0 3px var(--highlight))
}
.contact-items img:hover {
    animation: wiggle .5s normal ease-in-out;
    cursor: pointer;
}

@keyframes wiggle {
    10% {
        transform: rotateZ(5deg);
    }
    50% {
        transform: rotateZ(-5deg)
    }
}

.footer {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--highlight);
    border-radius: 5px;
  }

  /* Desktop */
  @media screen and (max-width: 980px) {
    .submenu-navbar:first-of-type h2 {
        display: none;
    }
    .submenu-navbar {
        font-size: 1.5em;
        padding: 1.5%;
    }
  }
  @media screen and (max-width: 755px) {
    .submenu-navbar:first-of-type h2 {
        display: none;
    }
    .submenu-navbar li:last-child {
        display: none;
    }
    .submenu-navbar li {
        padding: 0 4%;
    }

  }
  @media screen and (max-width: 630px) {
    #preloader {
        
        background-size: 70%;
    }
    .back-to-top, .fall {
        padding: 2%;
        width: 10%;
    }
    .submenu-navbar:first-of-type h2 {
        display: none;
    }
    .submenu-navbar {
        padding: 0;
        padding-bottom: 2%;
    }
    .submenu-navbar li {
        margin: 0;
        padding: 0 3%;
    }
    .innerWrap {
        flex-direction: column;
    }
    .innerWrap {
        align-items: center;
    }
    .innerWrap img {
        margin: 15% 0;
    }
    .past-present-section {
        flex-direction: column;
    }
    .past-present-section > div {
        margin: 3% 0;
    }
    .future-section {
        margin: 3% 10%;
    }
    .front-end-skills-list li {
        margin: 1% 4% 1% 0;
    }
    .miscellaneous-skills-list li {
        margin: 1% 4% 1% 0;
    }
    .projects-list > div {
        flex-direction: column;
        padding: 5%;
    }
    .projects-list > div img {
        width: 100%;
        margin-bottom: 5%;
    }

  }
  @media screen and (max-width: 575px) {
    .submenu-navbar:first-of-type h2 {
        display: none;
    }
    .submenu-navbar li {
        font-size: 1em;
        padding: 0 .1%;
        padding: 0 4%;
    }
    .contact-items img {
        margin-top: 10%;
        transform: scale(1.5);
    }


  }

  /* Average Iphone */
  @media screen and (max-width: 430px) {
    .back-to-top, .fall {
        width: 15%;
    }
    .back-to-top:hover, .fall:hover {
        background-color: var(--inner-background);
        color: var(--text);
        
        transition: .3s;
    }
    .submenu-navbar {
        padding-top: 6%;
        padding-bottom: 3%;
    }
    .submenu-navbar:first-of-type h2 {
        display: none;
    }
    .submenu-navbar li {
        font-size: .8em;
        padding-bottom: 0;
    }
    .innerWrap {
        flex-direction: column;
    }
    .innerWrap {
        align-items: center;
    }
    .innerWrap img {
        margin: 10% 0;
        transform: scale(.9);
    }
    .past-present-section {
        flex-direction: column;
        
    }
    .past-present-section > div {
        margin: 3% 0;
    }
    .past-present-section p {
        font-size: 1.3em;
        
    }
    .future-section {
        margin: 3% 10%;
    }
    .future-section p {
        font-size: 1.3em;
    }
    .skills-section h2 {
        font-size: 2em;
    }
    .front-end-skills-list li {
        margin: 1% 8% 1% 0;
    }
    .miscellaneous-skills-list li {
        margin: 1% 4% 1% 0;
    }
    .projects-list > div {
        flex-direction: column;
        padding: 5%;
        margin: 5%;
    }
    .projects-list > div h2 {
        font-size: 2em;
    }
    .projects-list > div img {
        width: 100%;
        margin-bottom: 5%;
    }
    .contact-items img {
        margin: 10% 10%;
        transform: scale(2);
    }

  }
