@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html, body {

    --primary: #CCF2F4;
    --secondary: #A4EBF3;
    --accent: #A6D9F7;
    --whiteFox: white;
    --blackSnake: black;

    font-family: "Josefin Sans";
    color: var(--whiteFox);
    height: 100vh; 
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;

}

.svg-full {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.background-svg {
    background-image: url(./assets/clouds\ day.svg);
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
}

#preloader {
    background: var(--primary) url(./assets/rain\ day.svg);
    aspect-ratio: 900/600;
    background-position: center;
    background-size: 30%;
    height: 100vh; 
    width: 100vw;
    position: fixed;
    position: top;
    overflow: hidden;
    box-shadow: inset 0 0 3px var(--blackSnake), 0 0 10px var(--blackSnake);

    z-index: 99;
}
.loaded {
    animation: collapse 1.5s ease-in-out;
}

@keyframes collapse {

    0% {
        bottom: 0%;
    }

    50% {
        bottom: 0%;
    }

    100% {
        bottom: 100%;
    }

}

.header {
    text-shadow: 0px 0px 2px var(--blackSnake);
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
}

/*
#container {
    
}
*/

#upload-drawing-popup {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--blackSnake);
    width: 500px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: .5s;
}

.popup-close {
    text-align: right;
}
.popup-close button {
    background-color: transparent;
    cursor: pointer;
    color: var(--whiteFox);
    text-shadow: 0 0 2px var(--blackSnake);
    font-weight: bold;
    font-family: inherit;
    font-size: 1.2em;
    margin-top: .3em;
    margin-right: .3em;
    border: 0 solid transparent;
}
.popup-close h1 {
    text-align: center;
    text-shadow: 0 0 2px var(--blackSnake);
}

.popup-inner {
    padding: 1em;
}
.popup-inner input[type=file] {
    color: var(--blackSnake);
    font-family: inherit;
    font-weight: bold;
    font-size: .7em;
}
.popup-inner input::-webkit-file-upload-button {
    width: auto;
    border: 0;
    border-radius: 20px;
    padding: 2%;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    font-family: inherit;
    font-size: 1.3em;
    color: var(--blackSnake);
    border: 3px solid transparent;
}
.popup-inner input::-webkit-file-upload-button:hover {
    transform: scale(1.05);
    border: 3px solid var(--accent);
}
.popup-inner input::-webkit-file-upload-button:active {
    transform: scale(1);
}

#submit-piece-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
}
#submit-piece-form button {
    width: 25%;
    margin: 0 auto;

    border: 0;
    border-radius: 20px;
    padding: 1%;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    font-family: inherit;
    font-size: 1.5em;
    color: var(--blackSnake);
    border: 3px solid transparent;
}
#submit-piece-form button:hover {
    transform: scale(1.05);
    border: 3px solid var(--accent);
}
#submit-piece-form button:active {
    transform: scale(1);
}

#form-wrap {
    text-shadow: 0px 0px 2px var(--blackSnake);
    padding: 1%;
    background: linear-gradient(to right, var(--primary), var(--secondary), var(--primary));
    border-radius: 50px;
    width: 75%;
    filter: opacity(.9);
    margin: 0 auto;

}

#form-box {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#form-box input, #form-box button{ 
    margin: 1% auto;
    background-color: var(--whiteFox);
}
#form-box input {
    width: 70%;
    border-radius: 10px;
    outline: 0;
    border: 0;
    font-family: inherit;
    padding: 1% 0;
    text-indent: 10px;
    font-size: 1.2em;
    transition: .3s;
    border: 3px solid transparent;
}

#form-box input:focus {
    color: var(--blackSnake);
    border: 3px solid var(--accent);

}
#form-box button {
    width: 15%;
    border: 0;
    border-radius: 20px;
    padding: 1%;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    font-family: inherit;
    font-size: 1.5em;
    color: var(--blackSnake);
    border: 3px solid transparent;
}
#form-box button:hover {
    transform: scale(1.05);
    border: 3px solid var(--accent);

}
#form-box button:active {
    transform: scale(1);
}

#grid-wrap { 
    width: 80%;
    margin: 3em auto;
    text-align: center;
}

#choose-image-text {
    padding: 0;
    margin: 3% 0;
    color: var(--blackSnake);
    font-weight: bold;
    text-shadow: 0 0 1px var(--whiteFox);
    text-align: center;
}
#generated-images {
    display: grid;
    grid-gap: 1.1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
}
#generated-images img {
    border-radius: 10px;
    border: 1px solid var(--blackSnake);
    box-shadow: 1px 1px 5px var(--blackSnake);
    transition: .3s;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#generated-images img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#chosen-image {
    display: none;
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    margin: 0 auto;
    border: 1px solid var(--whiteFox);
    box-shadow: 0 0 5px var(--blackSnake);
}

#timer {
    display: none;
    text-align: center;
    color: var(--whiteFox);

}

#skip-timer-btn, #upload-drawing-btn {
    display: none;
    width: 13%;
    border: 0;
    border-radius: 20px;
    padding: 1%;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    font-family: inherit;
    font-size: 1.5em;
    color: var(--blackSnake);
    border: 3px solid var(--blackSnake);
    justify-content: center;
    margin: 0 auto;
    transition: .3s;
}

#skip-timer-btn:hover, #upload-drawing-btn:hover {
    transform: scale(1.05);
    border: 3px solid var(--accent);
}

#skip-timer-btn:active, #upload-drawing-btn:active {
    transform: scale(1);
}

.fadein-animation {
    animation: fadein .5s forwards;
}
.fadeout-animation {
    animation: fadeout .5s forwards;
}

@keyframes fadein {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}
@keyframes fadeout {
    from {
        filter: opacity(1);
    }
    to {
        filter: opacity(0);
    }
}

.footer {
    margin-top: auto;
    color: var(--blackSnake);
    padding-top: .5%;
    text-align: center;
}

@media (max-width: 1000px) {

    #form-wrap { 
        min-height: 200px;
    }

    #form-box input {
        width: 80%;
        min-height: 30px;
        font-size: 1.7em;
    }
    #form-box button {
        width: 30%;
        font-size: 2em;
        margin-top: 2%;
    }
    
    #skip-timer-btn, #upload-drawing-btn {
        width: 30%;
    }
    
}

@media (max-width: 650px) {
    #form-wrap {
        width: 90%;
        filter: opacity(.85);
    }
    #form-box input {
        font-size: 2em;
    }
    #form-box button {
        width: 40%; 
        padding: 2% 0;
    }

    #generated-images {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    #chosen-image {
        width: 400px;
        height: 250px;
    }

    #upload-drawing-popup {
        width: 400px;
        height: 250px;
    }

}

@media (max-width: 450px) {
    #chosen-image {
        width: 325px;
        height: 225px;
    }

    #skip-timer-btn, #upload-drawing-btn {
        width: 40%;
        padding: .5em;
    }

    #upload-drawing-popup {
        width: 300px;
        height: 250px;
    }

    #submit-piece-form button {
        width: 40%;
    }

    #close-btn {
        font-size: 2em;
    }
}